<h1>Listing orders</h1>

<table>
  <thead>
    <tr class="list_description">
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th>Pay document</th>
      <th>Extra Info</th>
      <th>Shipped?</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>

    <% @orders.each do |order| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= order.doc %></td>
        <td><%= order.extra %></td>
        <td><%= order.shipped %></td>
        <td><%= order.delivery_time %></td>
        <td class="list_actions">
        <%= link_to 'Show', order %><br>
        <%= link_to 'Edit', edit_order_path(order) %><br>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>

